{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie Lijst</h1>

    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.naam }}</td>
                <td>
                    <a href="{{ path('categorie_show', {'id': categorie.id}) }}"><button class="btn btn-primary">Bekijk</button></a>
                    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}"><button class="btn btn-success">Bewerk</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Geen rijen gevonden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_new') }}"><button class="btn btn-primary">Maak nieuwe</button></a>
{% endblock %}
